<?xml version="1.0" encoding="UTF-8"?>
<jp_similarity_tool>
	<perl_library_folders>
		<library_folder path="/opt/local/lib/perl5/site_perl/5.12.3/darwin-multi-2level"></library_folder>
		<library_folder path="/opt/local/lib/perl5/site_perl/5.12.3"></library_folder>
		<library_folder path="/opt/local/lib/perl5/vendor_perl/5.12.3/darwin-multi-2level"></library_folder>
		<library_folder path="/opt/local/lib/perl5/vendor_perl/5.12.3"></library_folder>
		<library_folder path="/opt/local/lib/perl5/5.12.3/darwin-multi-2level"></library_folder>
		<library_folder path="/opt/local/lib/perl5/5.12.3"></library_folder>
		<library_folder path="/opt/local/lib/perl5/site_perl"></library_folder>
		<library_folder path="/opt/local/lib/perl5/vendor_perl"></library_folder>			
	</perl_library_folders>
</jp_similarity_tool>
